<html>

<head>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="assets/css/all.css">
    <link rel="stylesheet" href="modal.css">
</head>

<body>
    <div id='app'>
        <modal ref='mEscola' @confirmado='deletarEscola()'>
        </modal>
        <modal ref='mAluno' @confirmado='deletarAluno()'>
        </modal>
        <div>
            <input v-model='escola'>
            </input>
            <button @click='newEscola()'>
                Nova Escola
            </button>
            <ol>
                <li v-for='e,i in escolas'>
                    <div v-if="escolaParaEditar!==i">
                        {{ e.nome }}
                        <i class="fas fa-pen-alt" @click='escolaParaEditar=i'></i>
                        <i class="fas fa-trash-alt" @click='escolaParaDeletar=i;confirmarEscola()'></i>
                    </div>
                    <input v-else v-model="escolas[i].nome" @keyup.enter="escolaParaEditar=-1; escolas.sort((a,b) => a.nome != b.nome ? a.nome < b.nome ? -1 : 1 : 0)"></input>

                </li>
            </ol>
        </div>

        <div>
            <input v-model='aluno.nome'> </input>
            <select v-model='aluno.escolaId'>
                <option v-for='e in escolas' :value="e.id">{{e.nome}}</option>
            </select>
            <button @click='newAluno()'>
                Novo Aluno
            </button>
            <ol>
                <li v-for='a,i in alunos'>
                    {{ a.nome }} - {{ escolaById(a.escolaId).nome }}
                    <i class="fas fa-trash-alt" @click='alunoParaDeletar=i;confirmarAluno()'></i>
                </li>
            </ol>
        </div>
    </div>
</body>

</html>

<script type="module">
    import Modal from './modal.js'
    Vue.component('modal', Modal)

    var app = new Vue({
        el: '#app',
        data: {
            id: 2,
            escola: '',
            escolaParaEditar: -1,
            escolaParaDeletar: -1,
            escolas: [
                {
                    id: 1,
                    nome: 'Escola 1'
                },
                {
                    id: 2,
                    nome: 'Escola 2'
                }
            ],
            aluno: {
                nome: '',
                escolaId: -1
            },
            alunoParaDeletar: -1,
            alunos: [
                {
                    nome: 'Aluno 1',
                    escolaId: 1
                },
                {
                    nome: 'Aluno 2',
                    escolaId: 2
                }
            ]
        },
        methods: {
            getId() {
                return (this.id += 1)
            },

            newObj(data = {}) {
                return Object.merge({ id: getId() }, data)
            },

            newEscola() {
                const e = newObj({ nome: this.escola })
                console.log(e)
                this.escolas.push(e)
                this.escolas.sort()
            },
            escolaById(id) {
                console.log(this.escolas)
                console.log(id)
                for (let i in this.escolas) {
                    const e = this.escolas[i]
                    if (e.id == id) {
                        return e
                    }
                }
                return {}
            },
            deletarEscola() {
                this.escolas.splice(this.escolaParaDeletar, 1)
            },
            confirmarEscola() {
                this.$refs.mEscola.abrir();
            },

            newAluno() {
                console.log(this.aluno)
                this.alunos.push(this.aluno)
                this.alunos.sort()
            },
            deletarAluno() {
                this.alunos.splice(this.alunoParaDeletar, 1)
            },
            confirmarAluno() {
                this.$refs.mAluno.abrir();
            }
        }
    })
</script>